.time-slots-container {
    text-align: center;
  }
  
  .time-slots-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .time-slot {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid white; 
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .time-slot:hover {
    background-color: #0074D9;
    color: white;
  }
  
  .time-slot.selected {
    background-color: #3e0e8a;
    color: white;
  }

  .timezone-select {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
  }
  